$tablet-width: 1440px;
$mobile-width: 768px;

$color: #000000;
$color-shadow: rgba(255, 255, 255, 0.5);
$color-shadow-head: rgba(255, 255, 255, 1);
$color-hover: rgba(0, 0, 0, 0.5);
$bg-color: #fff;
$article-bg: #f4f4f4;
$color-hover-nav: rgba(87, 87, 87, 0.734);
$card-popup-bg: rgba(0, 0, 0, 0.8);
$card-popup-btn-bg: black;
